*{
    margin: 0;
    border: 0;
    font-size: 18px;
    line-height: 25px;
 }

body{
    text-align: center;
    margin-top: 2px;
}
#container{
    width: 800px;
    height: 950px;
    display: flex;
    margin-left: 500px;
    flex-direction: row;
    border: 2px solid black;
    flex: 100vh;
}
#box_education{
    display: flex;
    flex-direction: column;
    gap: 20px
}
#left_box{
    background: #fffad2;
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
    flex : 0.35;
}

img{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 50%;
    justify-content: flex-start;
}
#contact{
    align-items: center;
}
#right_box{
    display: flex;
    flex-direction: column;
    background: #eafaff;
    gap: 10px;
    flex: 0.65;
}
#name{
    font-family:serif, 'Times New Roman', Times ;
    font-size: 40px;
    font-weight: 700;
    margin-top: 15%;
}
.titles{
    display: flex;
    flex-direction: rows;
    align-self: start; 
    align-items: left;
    background: #fffad2;
    font-weight: 600;
    width: 75%;
    padding: 10px;
    gap:10px
   
}
.year{
    margin-top: 10px;
    font-size: 20px;
    display: inline;
}
.title_dis{
    font-style: italic;
}
.description{
    padding-left: 10%;
    text-align: start;
}
#skill_box{
    margin: 10px 10px 1px 1px;
    background: #eafaff;
}
#skill_list {
        list-style-type: none;
    }

.container {
  width: 90%; /* Full width */
  background-color: #c5c0c0; /* Grey background */
}
.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.coding {width: 90%; background-color: #474749;}  
.com {width: 90%; background-color: #474749;}  
.ppt {width: 65%; background-color: #474749;}  
.ps {width: 80%; background-color: #474749;}  
i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
}
#box_in_edu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}

.box div {
  width: 100px;
  height: 100px;
  background-color: rgb(96 139 168 / 0.2);
  margin: 20%;
}

.skill_name {
    display: inline-block;
    width: 150px;
    text-align: left;
    margin-right: 10px;
    font-weight: 600;
}